<link rel="stylesheet" href="css/aboutus.css">
<body>
  <div class="about-section">
    <h1 style="color:#3399FF;">About Us</h1>

    <p>
    AT ENDEAVOUR WE BELIEVE IN MAKING LEARNING FUN!!
    </p>

    <p>
    We provide a free, and interactive website development course for beginners.
    </p>
    
    Tell us how much coding experience you have (if any), and we will tell you what to learn <br>
    <p>
    We the developers of this website love coding, and we love to teach. We aim to provide students with a free coourse
    in website development. Our courses are designed for beginners. We aim to provide quality education to each and every 
    person. Start your web development journey with our interactive designs, easy to access modules, progressive dashboard, 
    fun exercises, and opportunity to put your learning into practice.
    </p>

    <h2>HAVE YOU NEVER CODED BEFORE?</h2>
    <p>Don't worry, we are here for you!! </p>
  </div>
  <br></br>
    <center><h2 style="text-align:center">Our Team</h2></center>
    <br></br>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="img/blank_profile.png" alt="dev1" class="people">
        <div class="container">
          <h2>Dev 1</h2>
          <p class="title">Developer</p>
          <p>2nd year USYD student studying Bachelor of Advanced Computing.</p>
          <p>Majoring in Computational Data Science and Computer Science.</p>
          <p>dev5@endeavour.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

  <div class="column">
    <div class="card">
      <img src="img/blank_profile.png" alt="dev2" class="people">
      <div class="container">
        <h2>Dev 2</h2>
        <p class="title">Developer</p>
        <p>2nd year USYD student studying Bachelor of Advanced Computing.</p>
        <p>Majoring in Computational Data Science and Computer Science.</p>
        <p>dev2@endeavour.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="img/blank_profile.png" alt="dev3" class="people">
      <div class="container">
        <h2>Dev 3</h2>
        <p class="title">Developer</p>
        <p>3rd Year USYD student studying Bachelor of Advanced Computing and Business.</p>
        <p>Majoring in Computational Data Science and Finance.</p>
        <p>dev3@endeavour.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="img/blank_profile.png" alt="dev4" class="people">
      <div class="container">
        <h2>Dev 4</h2>
        <p class="title">Developer</p>
        <p>3rd Year USYD student studying Bachelor of Advanced Computing.</p>
        <p>Majoring in Computational Data Science and Finance.</p>
        <p>dev4@endeavour.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="img/blank_profile.png" alt="dev5" class="people">
      <div class="container">
        <h2>Dev 5</h2>
        <p class="title">Developer</p>
        <p>2nd year USYD student studying Bachelor of Advanced Computing.</p>
        <p>Majoring in Software Development.</p>
        <p>dev5@endeavour.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
  </body>

</html>
