<!DOCTYPE html>
<html>
<head>
    <title>Endeavour</title>
    <link rel="stylesheet" href="css/main.css"> 
</head>

<header>
    <div class="container">
        <img src="img/Logo.png" alt="logo" class="logo">
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/contents">Contents</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/settings">Settings</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/forum">Forum</a></li>
            </ul>
        </nav>
    </div>
</header>
