

            <div class = "content">
                <h1>Empowering students to learn</h1>
                <h1>anytime and anywhere.</h1>
                <p>See why thousands of students choose learning here.</p>
                <div class="btn-group">
                    <a href = "/login" class="color1">Login</a>
                    <a href = "/about">Learn more</a>                    
                </div>
            </div>
        </div>
    <div class="our-partners">

        <h3>Your topics of choice</h3>
        <hr>
        <div class="our-partners-inner">
            <a href="/intro_to_html"><img src="img/HTMLlogo.png" alt="Our Topics" style="width:150px;height:150px;"></a>
            <a href="/basics_of_css"><img src="img/CSSLogo.png" alt="Our Topics" style="width:137px;height:150px;" class=""></a>
            <a href="/java_script_basics"><img src="img/Javascriptlogo3.jpg" alt="Our Topics" style="width:137px;height:150px;" class=""></a>  
        </div>

    </div>
    </body>
