<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/contents.css">
<link rel="stylesheet" href="css/textFormatting.css">

<body>
    <div class="sidenav">
      <h1>Contents</h1>
        <button class="dropdown-btn">Introduction to Web Development
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <a href="/web_works">How the web works</a>
          <a href="/intro">Introduction to Web Designing</a>
          <a href="/run_files">Running HTML and CSS Files</a>
        </div>

        <button class="dropdown-btn">HTML
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <a href="/intro_to_html">Introduction to HTML</a>
          <a href="/metadata">Metadata in HTML</a>
          <a href="/textformat">Structure and Text Fomatting in HTML</a>
          <a href="/semantics">HTML Semantics</a>
          <a href="/html_forms">HTML Web Forms</a>
        </div>
        <button class="dropdown-btn">CSS
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <a href="/basics_of_css">Basics of CSS</a>
          <a href="/css_layout_and_formatting">CSS Layout and Formatting</a>
          <a href="/css_template">CSS Structure Template</a>
        </div>
        <button class="dropdown-btn">JavaScript
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <a href="/java_script_basics">What is JavaScript</a>
          <a href="/java_script_objects">JavaScript Objects</a>
          <a href="/java_script_frameworks">Web Frameworks</a>
        </div>
        <button class="dropdown-btn">Other
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <a href="/questions">Questions</a>
        </div>    
  </div>

    <div class="contentmain">
        <h1 style="color:#3399FF;">Running the HTML and CSS Files</h1>

        <h2 style="color:#55D6AA">HTML and CSS using Notepad or TextEdit: </h2>
        <p>
            Web pages can be created and modified by using professional HTML editors.

            However, for learning HTML we recommend a simple text editor like Notepad (PC) or TextEdit (Mac).

            We believe in that using a simple text editor is a good way to learn HTML.

            Follow the steps below to create your first web page with Notepad or TextEdit:
        </p>

        <h3 style="color:#ff9933">Open Notepad (PC):</h3>

        <p>
            <u>Windows 8 or later:</u><br></br>
            Open the Start Screen (the window symbol at the bottom left on your screen). Type Notepad.<br></br>
            <u>Windows 7 or earlier:</u><br></br>
            Open Start > Programs > Accessories > Notepad<br></br>
        </p>
        

        <h3 style="color:#ff9933">Open TextEdit (Mac):</h3>

        <p>
            Open Finder > Applications > TextEdit<br></br>
            Also change some preferences to get the application to save files correctly. In Preferences > Format > choose "Plain Text"<br></br>
            Then under "Open and Save", check the box that says "Display HTML files as HTML code instead of formatted text".<br></br>
            Then open a new document to place the code.<br></br>
        </p>
        
        <h3 style="color:#ff9933">Write and save html: </h3>

        <ul>
          <li>Write some html Code</li>
          <li>Save the file on your computer. Select File > Save as in the Notepad menu.</li>
          <li>Name the file "index.html" and set the encoding to UTF-8 (which is the preferred encoding for HTML files).</li>
        </ul>

        <h3 style="color:#ff9933">Write and save CSS: </h3>

        <ul>
          <li>Write some CSS Code</li>
          <li>Save the file on your computer. Select File > Save as in the Notepad menu.</li>
          <li>Name the file "main.css" and Save the file</li>
        </ul>

        <h3 style="color:#ff9933">View html page: </h3>

        <ul>
          <li>Open the saved HTML file in your favorite browser (double click on the file, or right-click - and choose "Open with").</li>
        </ul>
          

        <h3 style="color:#ff9933">View html page along with CSS: </h3>

        <ul>
          <li>In the HTML file, we will give the file path of our css file.</li>
          <li>Example: </li>
          <pre><code>&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;title&gt;Page Title&lt;/title&gt;
    &lt;/head&gt;
            
    &lt;body&gt;
        &lt;h1&gt;This is a heading&lt;/h1&gt;
        &lt;p&gt;This is a paragraph&lt;/p&gt;
    &lt;/body&gt;
&lt;/html&gt;</code></pre>

          <li>This will link the CSS file along with the HTML file.</li>
          <li>To see the modifications of the CSS file on the website just open the html file in your browser (double click on the file, or right-click - and choose "Open with").</li>
        </ul>
        <br>
        
        
    </div>
    <script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;
    
        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
    </script>
    <div class="content_btn">
      <a href="/intro"class="previous">&laquo; Previous</a>
      <a href="/intro_to_html" class="next">Next &raquo;</a>
    </div>
</body>
