<body>
  <div class="settingsmain">
    <h1 style="color: #3399FF;">Settings</h1>

    <h2 style="color: #55d6aa;">How can we help you?</h2>
    <div class="content-padding">
      <p> At Endeavour, we are striving to put a platform for students to learn Web Development. We are a team of university students who aim to help basic development knowldge for people are eagar in learning the basics of website development. Please refer to FAQs below if you have any specifc questions regarding the website.</p>
    </div>

    <h2 style="color: #55d6aa;">Endeavour support</h2>
    <div class="content-padding">
      <p>
      Our team of technical experts and deveolpers are always there to help you if the user has any issue with the website.
      </p>
    </div>

    <h2 style="color: #55d6aa;">Endeavour upcoming updates</h2>
    <p>
    <ol>
      <li>We are currently working in providing our website in differnt language so that we can target audience worlwide.</li>
      <li>We are also working on providing the users with more games and activities to make the learning process as smooth as well.</li>
      <li>We aim to provide our users with multiplayer games with many offline features.</li>
    </ol>
    </p>
    
    <h2 style="color: #55d6aa;">Frequently Asked Questions (FAQ)</h2>
    <div class="parent-container">
      <ul class="faq">
        <li>
          <h3 style="color: #e40909;" class="question">How do I reset my password or username?
          </h3>
          <div class="answer">Click on forgot password and input the email you have used to register to the website. There will be an automatic website sent out with temporary password. Use that and change password by clicking on change password under user settings.</div>
        </li>
        <li>
          <h3 style="color: #e40909;" class="question">What will happen to my progress on dashboard if I am inactive for long period?
          </h3>
          <div class="answer">All your progress will be saved and our learners can continue from where they left off last time. All your content will be auto saved as soon as the edit has been made.</div>
        </li>
        <li>
          <h3 style="color: #e40909;" class="question">What programming languages can I learn on Endeavour?
          </h3>
          <div class="answer">Our learners can learn Python, Java, CSS, JS and most importanly HTML which is core for website development.</div>
        </li>
        <li>
          <h3 style="color: #e40909;" class="question">How do I report a mistake I have found?
          </h3>
          <div class="answer">If it is a mistake in an exercise, you can just click the report a mistake button or directly contact one of the developers.</div>
        </li>
        <li>
          <h3 style="color: #e40909;" class="question">Can I change from English to any other language?
          </h3>
          <div class="answer">Sorry, our website is only avaible in English. If you want translate the web page in other language you can use Google translator. We are currently working operating in different language. Stay tuned for future updated we will soon be operating in other languages as well.</div>
        </li>
      </ul>
    </div>
  </div>
</body>
