<!DOCTYPE html>
  
<html>
    <link rel="stylesheet" href="css/template.css">
    <head>
        <title>Template Page</title>
    </head>
  
    <body>
        <!-- Header of the Page -->
        <header>
            <!-- Logo -->
            <img src="img/Logo.png" alt="logo" class="logo">
            
            <!-- Navigation Menu -->
            <nav>
                <ul>
                    <li><a href="#">Page</a></li>
                    <li><a href="#">Page</a></li>
                    <li><a href="#">Page</a></li>
                    <li><a href="#">Page</a></li>
                </ul>
            </nav>  
        </header>
        <br>